// ==============================================
// BETS
// ==============================================

.bets {
	padding-bottom: 60px;

	&__category {
		margin-left: 140px;
		margin-right: 112px;
		margin-bottom: 20px;

		h3 {
			@extend %bold;
			font-size: 24px;
		}

		&__subcategory {
			@include effect(all, .3s, ease-in-out);
			max-height: 0;
			overflow: hidden;

			&.open {
				max-height: 100000px
			}				

			&__title {
				@include flex-container(flex-start, center, center);
				width: 100%;
				padding: 5px 16px;
				background-color: $gray3;	
				margin-top: 10px;
			}

			&__content {
				@include effect(all, .5s, ease-out);
				max-height: 0;
				overflow: hidden;

				&.expanded {
					max-height: 100000px
				}
				

				&__date {
					@include flex-container(flex-start, center, center);
					width: 100%;
					padding: 5px 16px;
					background-color: $darkGray;
					margin-top: 10px;

					h5 {
						color: $white;
					}
				}

				&__games {
					background-color: $darkGray;
					margin-top: 2px;

					table {
						@extend %bold;
						font-size: 24px;
						color: $white;
						width: 100%;
						padding: 12px;							
						border-spacing: 4px;

						th {
							text-align: center;

							&:first-child {
								text-align: left;
								width: 50%;
							}
						}

						td {							
							background-color: $white;
							color: $darkGray;
							font-size: 20px;
							padding: 10px 0;
							text-align: center;
							margin: 10px;

							&.selected {
								color: $white;
								background-color: $orangeTheme;
							}

							&:first-child {								
								background-color: $darkGray;
								color: $white;
								text-align: left;
							}

							h4 {
								color: $orangeTheme;
								font-size: 26px;
								text-align: center;
							}
						}

						.exotic-tr, .exotic-td {
							background-color: $darkGray;
						}						

						&.exotics {
							background-color: $darkGray;

							th {
								font-size: 16px;
							}

							td {
								font-size: 14px;

								&.transparent {
									background-color: $darkGray;
								}
							}
						}
					}

					.button {
						margin: 12px;
					}
				}
			}

		}
	}

	&__detail {

		&__content {
			@include effect(all, .3s, ease-in-out);
			@include border-radius(15px);
			@include Y-50;
			position: fixed;
			right: 30%;
			top: 110%;			
			background-color: $blackTransparent15;
			text-align: center;
			width: 40%;
			margin: 0 auto;
			padding: 10px;

			&.showed {
				top: 96%;
			}

			span {
				@extend %bold;
				color: $white;
			}

			button {
				margin-left: 10px;
			}
		}
	}

	h4, h5 {
		@extend %bold;
		font-size: 22px
	}		
}

@include desktopMax {
	
	.bets {
		
		&__category {
			margin-left: 20px;
			margin-right: 30px;
		}
	}
}

@include BigDesktop {
	
	.bets {

		&__detail {

			&__content {
				width: 50%;
			}
		}
	}
}

@include tabletLandscape {

	.bets {

		&__category {
			margin-left: 0;
			margin-right: 12px;

			h3 {
				font-size: 26px;
			}

			&__subcategory {

				&__content {

					&__date {
						margin-top: 20px;
					}

					&__games {
						margin-top: 10px;

						table {
							font-size: 22px;
							border-spacing: 6px;

							td {
								font-size: 18px;

								h4 {
									font-size: 24px;
								}
							}

							&.exotics {

								th, td {
									font-size: 11px;
								}
							}
						}

						.button {
							margin-top: 0;
						}
					}
				}
			}
		}

		&__detail {

			&__content {
				width: 68%;
				right: 15%;
			}
		}		

		h4 {
			font-size: 24px;
		}

		h5 {
			font-size: 22px
		}
	}
}

	@include mobile {
		
		.bets {

			&__category {
				margin-bottom: 10px;

				h3 {
					font-size: 18px;
				}

				&__subcategory {

					&__title {
						margin-top: 6px;
					}

					&__content {

						&__date {
							margin-top: 10px;
						}

						&__games {

							table {
								font-size: 11px;
								padding: 6px;

								td {
									font-size: 10px;
									padding: 5px 0;

									h4 {
										font-size: 15px;
									}
								}

								&.exotics {
									padding: 0;

									th, td {
										font-size: 8px;
									}
								}
							}
						}
					}
				}
			}

			&__detail {

				&__content {
					@include flex-container(space-evenly, center, center);
					width: 90%;
					right: 5%;
					
					span {
						font-size: 14px;
					}

					.button {
						margin-left: 0;

						font-size: 12px;
					}
				}
			}			

			h4 {
				font-size: 16px;
			}

			h5 {
				font-size: 15px
			}
		}	
	}

	@include mobileTiny {

		.bets {

			&__category {

				&__subcategory {

					&__content {

						&__games {
							overflow-x: auto;
						}
					}
				}
			}
		}
	}


@include nomobile {

	.bets {

		&__category {

			h3, h4, td {
				@include effect(all, .3s, ease-out);

				&:hover {
					color: $orangeTheme;
					cursor: pointer;
				}
			}
			
			&__subcategory {
				
				&__content {

					&__games {
	
						table {
	
							td {
	
								&.selected {
	
									&:hover {
										background-color: $gray3;
										color: $darkGray;
									}
								}
							}
						}
					}
				}				
			}			
		}
	}
}