// ==============================================
// BUTTONS
// ==============================================

.button {
	@include border-radius(20px);
	@extend %bold;
	@include effect(all, ease-out, .3s);
	font-size: 17px;
	display: inline-block;
	color: $white;
	background-color: $orangeTheme;
	padding: 12px 20px;

	&.black {
		@include border-radius(40px);
		font-size: 27px;
		padding: 18px 28px;
		color: $black;
		background-color: $orangeTheme;		
	}

	&.bigger {
		padding: 14px 30px;
		font-size: 38px;		
	}
	
	&.big {
		padding: 14px 30px;
		font-size: 35px;
	}

	&.medium {
		padding: 12px 30px;
		font-size: 20px;
	}

	&.small {
		padding: 8px 24px;
		font-size: 13px;
		color: $black;
	}

	span {
		@include border-radius(15px);
		padding: 2px 10px;
		color: $darkGray;
		background-color: $white;
	}

	&:disabled {
		background-color: $darkGray2;
	}
}


@include mobile {
	
	.button {
		font-size: 14px;
		padding: 10px 16px;

		&.black {
			font-size: 4vw;
			padding: 11px 0;

		}

		&.bigger {
			padding: 5px 10px;
			font-size: 14px;		
		}
		
		&.big {
			padding: 10px 15px;
			font-size: 12px;
		}
		
		&.medium {
			padding: 8px 26px;
			font-size: 15px;			
		}

		&.small {
			padding: 8px 16px;
			font-size: 11px;
		}

		&.small {
			padding: 8px 16px;
			font-size: 11px;
		}
	}
}

@include nomobile {

	.button {
		cursor: pointer;

		&:hover, &:active, &:focus {
			color: $orangeTheme;
			background-color: $white;

			span {
				color: $white;
				background-color: $orangeTheme;				
			}
			
			&:disabled {
				background-color: $darkGray2;
				color: $white;
			}			
		}
	}
}