// ==============================================
// CAROUSEL
// ==============================================
.carousel-content {
	min-height: 100vh;

	.VueCarousel-slide {
	
		.content {
			@include flex-container(flex-start, flex-start, center);
			position: absolute;
			top: 0;
			width: 40%;
			height: 100%;
			padding-top: 525px;//57px;
			padding-left: 125px;		
			background-color: $blackTransparent65;
			@include clip-path(polygon(0% 0%, 68% 0%, 100% 46%, 61% 100%, 0% 100%));
	
			&:after {
				top: 3px;
				left: 3px;
				right: 3px;
				bottom: 3px;			
			}
		}
	
		.button {
			@include border-radius(20px);
			@extend %bold;
			color: $white;
			background-color: $orangeTheme;
			padding: 12px 24px;
			margin-top: 24px;
		}
	}
	
	.VueCarousel-navigation {
		top: -280px;
	}
	
	.VueCarousel-navigation-button {
		@include effect(all, ease-out, .3s);
		height: 96px;
		width: 96px;
		background-repeat: no-repeat;
		opacity: .6;
		z-index: 10;
	
		&:hover {
			opacity: 1;
		}
	}
	
	.VueCarousel-navigation-next {
		right: 30.5% !important;
	}
	
	.VueCarousel-navigation-prev {
		left: 69% !important;
	}
}

.help-carousel {
	width: 80%;
	margin: 0 auto;

	.VueCarousel-slide {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}

	.VueCarousel-navigation {
		margin-top: -30%;
	}

	.VueCarousel-pagination {
		margin-top: 30%;
	}

	.VueCarousel-navigation-button {
    	width: 96px;
		height: 94px;		
	}	

	.VueCarousel-navigation-button-prev {
		margin-right: 10px;
	}
}

@include desktopMax {

	.carousel-content {

		.VueCarousel-navigation {
			top: -6vh;
		}	
	}
}

@include tabletLandscape {

	.carousel-content {
		display: none;
	}

	.help-carousel {

		.VueCarousel-pagination {
			margin-top: 0;
		}		
			
		.VueCarousel-navigation {
			display: none;
		}

	}
}

@include mobile {

	.help-carousel {
		width: 100%;
	}
}