// ==============================================
// FORMS
// ==============================================

	.form {
		@include flex-container;
		margin: 0;

		.field-group {
			@include flex-container(flex-start, flex-start, flex-start, nowrap, column);
			width: 100%;
			margin-bottom: 17px;

			label {
				@extend %italic;
				color: $orangeTheme;
				font-size: 21px;
				margin-bottom: 7px;

				 + span{
					 width: 100%;
				 }
			}

			input, textarea {
				@extend %regular;
				width: 100%;
				background-color: $gray2;
				font-size: 16px;
				padding-left: 5px
			}

			.error {
				display: none;
			}

			&.field-group--error {

				input, textarea {
					border: 1px solid $orangeTheme;
				}

				.error {
					display: block;
					color: $orangeTheme;
					font-size: 11px;
					margin: 0;
					padding: 0;
					margin-top: 8px;
				}
			}

			.v-select {
				width: 100%;

				.vs__clear {
					position: absolute;
					top: 5px;
					right: -10px;
					width: 20px;
					height: 20px;
				}

				.vs__selected {
					position: absolute;
					z-index: 2;
					background-color: $gray2;
					padding: 5px;
				}
			}	
			
			.register-calendar {

				button {
					background-color: transparent;
				}

				svg {
					width: 24px;
					top: -7px;
				}

				input {
					width: 94%;
				}
			}
		}

		.form-bottom {
			@include flex-container;
			margin-top: 18px;

			a {
				margin-right: 140px;
			}
		}

		&.big {
			
			.field-group {
				width: 98%;

				label {
					font-size: 42px;
					padding-left: 0;
					margin-bottom: 35px;
				}

				input, textarea {
					height: 86px;
					font-size: 42px;
				}

				textarea {
					height: 300px;
				}
			}
		}
	}

	@include tabletLandscape {

		.form {

			&.big {

				.field-group {

					label {
						padding-left: 0;
						margin-bottom: 20px;
					}

					label, input, textarea {
						font-size: 32px;
					}

					input {
						height: 66px;
					}
				}
			}
		}
	}

	@include mobile {

		.form {

			.field-group {
				margin-bottom: 8px;
				
				label {
					font-size: 13px;
				}

				.register-calendar {

					input {
						width: 90%;
					}
				}				
			}

			.form-bottom {
				@include flex-container(flex-end, center);
				padding-bottom: 10px;

				a {
					margin-right: 35px;
				}
			}

			&.big {

			.field-group {
				margin-bottom: 8px;

				label, input, textarea {
					font-size: 14px;
				}				

				input {
					height: 32px;
				}

				textarea {
					height: 100px;
				}
			}

			.form-bottom {
				@include flex-container(flex-end, center);
				padding-bottom: 10px;

				a {
					margin-right: 35px;
				}
			}				
			}

			.button {
				margin-top: 10px;
			}
		}
	}

	@include mobileTiny {

		.form {

			.form-bottom {

				a {
					font-size: 10px;
					margin-right: 10px;
				}
			}

			&.big {

				.field-group {
					textarea {
						height: 65px;
					}
				}
			}
		}
	}