// ==============================================
// HISTORY
// ==============================================
.History {

	.form {
		@include flex-container(center, center, center);
		margin-top: 20px;

		.items-center {
			margin: 0;
		}

		label {
			@extend %regular;
			font-size: 20px;
		}

		input {
			@extend %regular;
			background-color: $gray2;
			font-size: 20px;
			padding-left: 5px;
			margin: 0 10px;

		}
	}

	svg {
		width: 18px;
	}

	.totals {
		@include flex-container(space-around);
		@include border-radius(10px);
		border: 3px solid $gray2;
		padding: 20px;
		margin: 0 auto 20px;
		width: 60%;

		&.corredor {
			@include flex-container(space-between);
		}

		span {
			@extend %italic;
			text-align: left;
			font-size: 20px;

			b {
				@extend %bold;
			}
		}

		p {
			text-align: center;			
		}
	}

	.ticket {
		width: 97%;
		color: $white;
		margin-bottom: 20px;
		
		&__title, &__footer {
			@extend %bold;
			@include border-radius(60px 60px 0 0);
			@include flex-container(space-between);
			background-color: $darkGray;
			padding: 20px 40px;

			h2 {
				font-size: 17px;
			}

			span {
				color: $orangeTheme;
			}
		}

		&__bets {
			background-color: $gray3;
			padding: 10px 40px;
			color: $darkGray;
			
			&__item {
				@extend %italic;
				@include flex-container(flex-start, center);
				font-size: 14px;
				padding: 5px 0;

				span {
					display: inline-block;
					margin-left: 2px;
					width: 96%;
					text-transform: uppercase;
				}

				b {
					@extend %bold;
				}

				svg {
					fill: $orangeTheme;
				}
			}
		}

		&__footer {
			@include border-radius(0 0 60px 60px);
		}
	}
}

@include BigDesktop {
	.History {

		.totals {
			width: 80%;
		}
	}
}

@include tabletLandscape {

	.History {
		
		.items-center {
			margin: 20px 0 20px 40px;
		}
		
		.totals {
			width: 90%;
			
			span {
				font-size: 16px
			}
		}
		
		.ticket {
			
			&__title, &__footer {
				@include border-radius(30px 30px 0 0);
				padding-left: 20px;				
			}
			
			&__footer {
				@include border-radius(0 0 30px 30px);
			}
			
			&__bets {
				padding-left: 20px;
				
				&__item {
					font-size: 11px;
					padding: 3px 0;
				}
			}
		}
	}
}
	
@include mobile {

	.History {

		.items-center {
			@include flex-container;
			margin: 20px 5px;
		}

		input {
			width: 40%;
			font-size: 16px;
		}

		.totals {

			span {
				display: inline-block;
				margin-bottom: 5px;
			}
		}

		.ticket {
			width: 100%;

			&__title, &__footer {

				h2 {
					font-size: 11px;
					margin-bottom: 5px;
				}
			}			

			&__bets {

				&__item {
					padding: 4px 0;

					span {
						width: 88%;
						margin-left: 5px;
					}
				}
			}
		}
	}
}