// ==============================================
// LINKS
// ==============================================

	a {
		@extend %italic;
		@include effect(all, ease-out, .3s);
		color: $white;
		font-size: 28px;

		&.router-link-exact-active {
			color: $orangeTheme;
		}

		svg {
			width: 52px;
			height: auto;

			path {
				@include effect(all, ease-out, .3s);
				fill: $white;
			}
		}		
		
		&.medium {
			@extend %bold;
			color: $black;
			font-size: 19px;			
		}

		&.submenu-item {
			font-size: 26px;
		}
	}

	@include BigDesktop {
		
		a {
			font-size: 24px;

			&.submenu-item {

				font-size: 22px;
			}
		}
	}
	
	@include desktop {

		a {

			svg {
				width: 40px;
			}
		}
	}

	@include tabletLandscape {

		a {

			svg {
				width: 32px;
			}
		}
	}

	@include mobile {

		a {
			font-size: 3.7vw;
			text-align: center;

			svg {
				width: 24px;
			}

			&.medium {
				font-size: 12px;
			}

			&.submenu-item {
				font-size: 3.4vw;
			}
		}
	}

	@include nomobile {
		a {

			&:hover {
				color: $orangeTheme;

				svg {

					path {
						fill: $black2;
					}
				}
			}

			&.contact-item {
				&:hover {

					svg {

						path {
							fill: $orangeTheme;
						}
					}
				}				
			}
		}
	}