// ==============================================
// MODALS
// ==============================================

	.modal-mask {
		position: fixed;
		z-index: 9998;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		display: table;
		transition: opacity .3s ease;
	
		.modal-wrapper {
			display: table-cell;
			vertical-align: middle;

			.modal-container {
				width: 590px;
				margin: 0px auto;
				padding: 0;
				background-color: $gray;
				border-radius: 2px;
				box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
				transition: all .3s ease;
				font-family: Helvetica, Arial, sans-serif;

				.modal-header {
					@include flex-container(flex-end);
					@extend %bold;
					padding: 7px 120px 9px 0;
					background-color: $darkGray;
					color: $white;

					img {
						width: 20%;
					}

					svg {
						@include effect(all, .3s, ease-out);
						position: absolute;
						right: 16px;
						width: 18px;
						height: 18px;
						fill: $gray;
						cursor: pointer;
					}
				} 

				.modal-body {
					margin: 0;
					padding: 80px 15px 0;
					background-repeat: no-repeat;
					background-size: 100% 100%;
					height: 318px;					

					.modal-icon {
						@include flex-container(flex-end, center, center);						
						background-repeat: no-repeat;		
						background-size: cover;
						height: 90px;
						width: 353px;
						position: absolute;
						top: -34px;
						left: 0;

						h3 {
							@extend %bold;  
							font-size: 24px;
							letter-spacing: -.1px;
							line-height: 1;
							margin-right: 41px;
						}
					}
				}
			}
		}

		&.register {

			.modal-wrapper {

				.modal-container {
					overflow-y: auto;					
					
					.modal-body {
						height: 46vw;
						padding-top: 70px;
						padding-bottom: 70px;
						
						.form {
							height: 42vw;
							overflow-y: auto;
							overflow-x: hidden;
							padding: 0 15px;

							.field-group {
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}

		&.payment {

			.modal-wrapper {

				.modal-container {
					overflow-y: auto;					
					
					.modal-body {
						height: 40vw;
						padding-top: 70px;
						padding-bottom: 70px;
						
						.form {
							height: 34vw;
							overflow-y: auto;
							overflow-x: hidden;
							padding: 0 15px;

							.field-group {
								margin-bottom: 10px;
							}
						}
					}
				}

				.bank-info {
					margin-bottom: 15px;

					div, a {
						color: $orangeTheme;
						font-size: 14px;
						margin: 0;
						padding: 0;
						margin-top: 8px;
					}
				}
			}
		}
		
		&.withdrawal {

			.modal-wrapper {

				.modal-container {

					.modal-body {
						height: 375px;
					}
				}
			}

		}

		&.account {
		
			.modal-wrapper {

				.modal-container {
					overflow-y: auto;					
					
					.modal-body {
						height: 32vw;
						padding-top: 70px;
						padding-bottom: 70px;
						
						.form {
							max-height: 50vw;
							overflow-y: auto;
							overflow-x: hidden;
							padding: 0 15px;

							.field-group {
								margin-bottom: 10px;
							}

							.form-bottom {
								margin-bottom: 10px;
							}
						}
					}
				}
			}			
		}

		&.profile {

			.modal-wrapper {

				.modal-container {
					overflow-y: auto;					
					
					.modal-body {
						height: 32vw;
						padding-top: 70px;
						padding-bottom: 70px;
						
						.form {
							max-height: 90vw;
							min-height: 25vw;
							overflow-y: auto;
							overflow-x: hidden;
							padding: 0 15px;

							.field-group {
								margin-bottom: 10px;
							}

							.form-bottom {
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}			

		&.alert {

			.modal-wrapper {

				.modal-container {
					width: 560px;

					.modal-body {
						@include flex-container(center, center, center);
						padding: 0 20px;
						height: 220px;

						p {
							font-size: 20px;
						}
					}
				}
			}
		}

		&.error {

			.modal-wrapper {

				.modal-container {
		
					.modal-body {

						.modal-icon {

							h3 {
								color: $red;
							}
						}

						p {
							color: $red;
						}
					}
				}
			}				
		}
		
		&.confirm {
			
			.modal-wrapper {

				.modal-container {
					width: 50%;
					max-height: 700px;
					height: 100%;
					
					

					.modal-body {
						height: 87%;						

						.modal-icon {
							padding: 0 20px 0 180px;
						}
					}
				}
			}			
		}
		
		&.playground {

			.modal-wrapper {

				.modal-container {

					.modal-body {

						.button {
							position: absolute;
							bottom: 20px;
							right: 20px;							
						}
					}
				}
			}
		}	
	}

@include BigDesktop {

	.modal-mask {
		
		&.register {

			.modal-wrapper {

				.modal-container {

					.modal-body {
						height: 62vw;
						
						.form {
							height: 52vw;
						}
					}
				}
			}
		
		}

		&.payment {

			.modal-wrapper {

				.modal-container {

					.modal-body {
						height: 45vw;
						
						.form {
							height: 40vw;
						}
					}
				}
			}
		
		}


	}
}

@include tabletLandscape {

	.modal-mask {
		
		&.confirm {
		
			.modal-wrapper {

				.modal-container {
					width: 75%;
				}
			}			
		}
		
		&.register {
			
			.modal-wrapper {
			
				.modal-container {
			
					.modal-body {
						height: 58vh;
						
						.form {
							height: 50vh;
						}
					}
				}
			}
		}
		
		&.payment {
			
			.modal-wrapper {
			
				.modal-container {
			
					.modal-body {
						height: 58vh;
						
						.form {
							height: 61vh;
						}
					}
				}
			}
		}
	}
}


@include mobile {

	.modal-mask {

		.modal-wrapper {

			.modal-container {
				width: 90vw;

				.modal-header {

					svg {
						height: 12px;
						width: 12px;
						right: 10px;
					}
				}

				.modal-body {
					height: 100%;
					padding: 38px 15px 0;

					.modal-icon {
						top: -14px;
						height: 44px;
						width: 173px;						

						h3 {
							font-size: 12px;
							margin-right: 16px;
						}
					}
				}
			}
		}

		&.register {

			.modal-wrapper {

				.modal-container {

					.modal-body {
						height: 80vh;

						.form {
							height: 70vh;
							padding-bottom: 20px;
						}

					}
				}
			}
		}

		&.payment {

			.modal-wrapper {

				.modal-container {

					.modal-body {
						padding-top: 40px;
						height: 74vh;

						.form {
							height: 68vh;
						}

					}
				}
			}
		}
		
		&.profile {

			.modal-wrapper {

				.modal-container {

					.modal-body {
						height: 100%;

						.form {
							max-height: 90vw;
						}
					}
				}
			}
		}		
		
		&.alert {

			.modal-wrapper {

				.modal-container {
					width: 90%;
		
					.modal-body {
						height: 170px;

						p {
							text-align: center;
							font-size: 14px;
						}
					}
				}
			}
			
			&.playground {				
				top: -38vh;				
			}
		}

		&.confirm {
			z-index: 6;
		
			.modal-wrapper {

				.modal-container {
					width: 95%;
					height: 80%;

					.modal-header {
						padding-right: 60px;

						img {
							width: 20%;
						}
					}

					.modal-body {
						height: 93%;

						.modal-icon {
							height: 54px;
						}
					}
				}
			}			
		}		
	}
}

@include nomobile {

	.modal-mask {

		.modal-wrapper {

			.modal-container {

				.modal-header {

					svg {			
						&:hover {
							fill: $orangeTheme;
						}
					}
				}
			}
		}
	}
}



/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}