// ==============================================
// BUTTONS
// ==============================================

.vue-js-switch {

	
	.v-switch-label {
		font-size: 2.3vw;

		&.v-right {
			right: 70px !important; 
		}

		&.v-left {
			left: 20px !important;
		}
	}
}

.confirm {

	.vue-js-switch {

		
		.v-switch-label {
			font-size: 10px;

			&.v-right {
				right: 35px !important; 
			}
		}
	}	
}

@include mobile {

	.vue-js-switch {

		.v-switch-label {
			font-size: 12px;

			&.v-right {
				right: 30px !important; 
			}

			&.v-left {
				left: 10px !important;
			}
		}	
	}

	.confirm {

		.vue-js-switch {

			.v-switch-label {
				font-size: 12px;

				&.v-right {
					right: 15px !important; 
				}

				&.v-left {
					left: 10px !important;
				}
			}	
		}		
	}
}