// ==============================================
// CONTAINER
// ==============================================
// Default Grid Container related styles

%container {
	max-width: $containerMaxWidth;
	margin: 0 auto;
	padding-left: $containerGutter;
	padding-right: $containerGutter;
	text-align: center;
}

%container-block {
	@extend %container;
	padding-left: $containerGutter * 2;
	padding-right: $containerGutter * 2;
}

%block {
	padding-left: $containerGutter;
	padding-right: $containerGutter;
}

.container {
	@extend %container;
}

.container-block {
	@extend %container-block;
}

.block {
	@extend %block;
}

@include sizeContainerWithNav {

	%container {
		max-width: $containerMaxWidth2;
		padding-left: $containerGutterMin;
		padding-right: $containerGutterMin;
	}

	%container-block {
		padding-left: $containerGutterMin * 2;
		padding-right: $containerGutterMin * 2;
	}

	%block {
		padding-left: $containerGutterMin;
		padding-right: $containerGutterMin;
	}
}