// ==============================================
// SECTION
// ==============================================

%section {
    margin: 60px 0;

    .section-description {
        @extend %block;
        padding-bottom: 50px;

        p {
            @extend %regular;
            color: $black;
            text-align: center;
        }
    }

    .section-button {
        @extend %block;
        padding-top: 50px;
        text-align: center;
    }
}

section,
.section {
    @extend %section;
}
