<template>
    <button class="btn btn-xs" @click.prevent="set();$emit('gameVisible')" :title="config.title">
		<i :class="icon" aria-hidden="true"></i>
	</button>
</template>

<script>
    export default{
        props:['game', 'action', 'icon'],
        data(){
            return {
                newGame: this.game,
            }
        },
        computed:{
            config(){
                switch(this.action) {
                    case 'cancel':
                        return {
                            title: 'Cancelar',
                            id: '9',
                            nombre: 'ANULADO'
                        };
                        break;
                    case 'hide':
                         return {
                            title: 'Ocultar',
                            id: '',
                            nombre: null
                        };
                        break;
                    case 'unhide':
                        return {
                            title: 'Mostar',
                            id: '',
                            nombre: null
                        };
                        break;
                    case 'suspend':
                        return {
                            title: 'Suspender',
                            id: '2',
                            nombre: 'SUSPENDIDO'
                        };
                        break;
                    case 'legal':
                        return {
                            title: 'Suspender Legal',
                            id: '3',
                            nombre: 'LEGAL SUSPENDIDO'
                        };
                        break;
                    case 'resume':
                        return {
                            title: 'Reanudar',
                            id: '0',
                            nombre: 'PENDIENTE'
                        };
                        break;
                    default:
                       return '';
                }
            },     
        },

        methods:{
            set(){
                var action = this.action == 'unhide' ? 'hide' : this.action;
                var self = this;
                if (confirm('Seguro que desea ' + this.config.title + ' éste juego?')) {
                    axios.put('/admin/'+ action +'/' + this.game.id)
                        .then((response)=>{
                            self.newGame.status = self.config.id != '' ? self.config.id : self.newGame.status
                            self.newGame.stsgame.id = self.config.id != '' ? self.config.id : self.newGame.status
							self.newGame.stsgame.nombre = self.config.id != '' ? self.config.nombre : self.newGame.nombre
							this.$emit('updateGameStatus', self.newGame)
                            alert(response.data.message);   

                        })
                        .catch((error)=>{
                            alert(error);
                        });
                }            
            }
        }
    }
</script> 

