<template>

<div class="row-fluid">
    
    <div class="span12">
        <div id="headerSeparator"></div>
            <div class="panel panel-default panel-bets">
        <div class="panel-heading">
                <h4 class="text-center">Listado de juegos</h4>
				
                <div class="clearfix"></div>
                <search @search="search"></search>
        </div>
			
        <div class="panel-body">		
			<clip-loader :loading="loading" :size="'100px'" color="#e05f03"></clip-loader>
        <br>
            <table class="table table- responsive panel-game">
                <tr>
                    <td colspan="6">
                    </td>                        
                </tr>
                <tr>
                    <td colspan="5">
                        <h5>Nuevo Juego</h5>                        
                    </td>
                    <td>
                        <a class="btn btn-new" href="#" @click="createGame()">
                            <i class="fa fa-plus" aria-hidden="true" title="Crear juego"></i>
                        </a class="btn" href="#" >                        
                    </td>
                </tr>
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Evento</th>
                    <th>Estatus</th>
                    <th>Categoría</th>
                    <th>Subcategoría</th>
                    <th>Acciones</th>
                </tr>
                <tr v-for="(game, index) in games">
                    <td>{{game.id}}</td>
                    <td>{{game.fecha_cierre}}</td>
                    <td>{{game.event}}</td>
                    <td>{{game.stsgame.nombre}}</td>
                    <td>{{game.menu.nombre}}</td>
                    <td>{{game.submenu.nombre}}</td>
                    <td>
                        <a href="#" class="btn btn-xs" data-toggle="modal" data-target="#game-show-modal" @click="editGame(game.id)" title="Editar"><i class="fa fa-pencil" aria-hidden="true" title="Editar"></i></a>
                        <a :href="'/admin/game/' + game.id" class="btn btn-xs"><i class="fa fa-futbol-o" aria-hidden="true" title="Resultado"></i></a>
                        <button-game v-if="game.visible" :game="game" @gameVisible="gameVisible(index)" action="hide" icon="fa fa-eye-slash"/>
                        <button-game v-if="!game.visible" :game="game" @gameVisible="gameVisible(index)" action="unhide" icon="fa fa-eye"/>                        
                        <template v-if="game.status == 2 || game.status == 3">
                            <button-game :game="game" action="resume" icon="fa fa-undo"/>
                        </template>
                        <template v-else>                            
                            <button-game :game="game" action="suspend" @updateGameStatus="updateGameStatus" icon="fa fa-ban"/>
                            <button-game :game="game" action="legal" @updateGameStatus="updateGameStatus" icon="fa fa-legal"/>                            
                        </template>
                        <button-game :game="game" action="cancel" icon="fa fa-trash"/>
                        <a :href="'/owner/bet?game=' + game.id" target="blank" class="btn btn-xs" title="Apuestas" v-if="game.bets_count > 0"><b>{{game.bets_count}}</b></a>
                    </td>
                </tr>
            </table>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    <game-show :game="current_game" :creating="creating" v-if="showModal" @close="showModal = false"></game-show>  

    <paginate v-if="!loading" @go="goPage" @next="next" @prev="prev" :current="current" :last="last"></paginate>

        </div>
    </div>    
    <div id="headerSeparator2"></div>
</div>

</template>
<script>
	import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
    export default {
		components: {
			ClipLoader
		},
        data(){
            return{
                games: [],
                game: '',
                current: '',
                current_game: '',
                creating: false,
                current: 1,
                last: '',
                target: '',    
				showModal: false,   
				loading: true,
				paginated: false,
            }
        },
        
        mounted() {
            this.current = 1;
            this.goPage(this.current);
        },

        methods:{
            gameVisible(index){
                this.games[index].visible = !this.games[index].visible
            },

            search(target){             
                this.target = target;
                this.current = 1;
                this.goPage(this.current);
            },  
            next(){
                this.current += 1;
                this.goPage(this.current);
            },

            prev(){
                this.current -= 1;
                this.goPage(this.current);
            },              

            goPage(page){
				var self = this;
				this.loading = true;				
				
                axios.get('/admin/game?page=' + page + '&search=' + this.target)
                    .then((response)=>{
                        var data = response.data.data;
                        self.games = [];
                        for (var i = 0; i < data.length; i++) {
                            self.games.push(data[i]);
                        }
                        self.current = response.data.current_page;
						self.last = response.data.last_page;
						this.loading = false;
                    })
                    .catch((error)=>{
                        console.log(error);
                    })
            },

            getEvent(teams)
            {
                var event = '';
                for (var i = 0; i < teams.length; i++) {
                    var separator = (i == teams.length - 1) ? '' : ' - ';
                    event += teams[i].nombre + separator;                    
                }
                return event;
            },

            editGame(game){
                this.creating= false;
                this.current_game = game;
                this.showModal = true;
            },

            createGame(){
                this.creating = true;
                this.showModal = true;
			},
			updateGameStatus(payload) {
				let currentGame = this.games.find(game => game.id === payload.id)
				currentGame.status = payload.status
			}
		}
    }
</script>

<style lang="scss" scoped>
    .btn-new{
        margin-bottom: -25px;    
    }

	.v-spinner {
		position: absolute;
		top: 65%;
		left: calc(50% - (104px / 2));
	}
</style>