<template>
	<div>
	  <transition name="modal">
	    <div class="modal-mask">
	      <div class="modal-wrapper">
	        <div class="modal-container">

	          <div class="modal-header">
	            <slot name="header">
	              <h5>{{creating ? 'Crear Juego' : 'Editar Juego #' + game}} </h5>
	            </slot>
	          </div>

	          <div class="modal-body">
	            <slot name="body">
	            	<div class="form-group col-md-2">
	            		<label>Fecha y Hora de cierre</label>
	            		<flat-pickr v-model="date" :config="config"></flat-pickr>
	            	</div>

					<div class="form-group col-md-3">
						<label class="form-control">Categoria</label>
						<select class="form-control" v-model="new_category" name="categoria">
							<option v-for="category in categories" :value="category.id">{{category.nombre}}</option>
						</select>
					</div>

					<div class="form-group col-md-3">
						<label class="form-control">Subcategoria</label>
						<select class="form-control" v-model="new_subcategory">
							<option v-for="subcategory in subcategories" :value="subcategory.id">{{subcategory.nombre}}</option>
						</select>
					</div>

					<div class="form-group col-md-2">
						<label class="form-control">Estado</label>
						<select class="form-control" v-model="new_status">
							<option value="0">Abierto</option>
							<option value="1">Pendiente</option>
							<option value="2">Cerrado</option>
							<option value="4">Suspendido</option>
						</select>
					</div>

					<div v-if="new_subcategory != ''">
						<div class="form-group col-md-5">
							<label class="form-control">Equipo</label>

							<v-select v-model="new_team" :options="teams" :multiple="true" max-height="100px" :disabled="teamButton"></v-select>
						</div>

						<div class="form-group col-md-2">
							<label class="form-control">Tipo de Apuesta</label>
							<select class="form-control" v-model="new_bet">
								<option v-for="type in probsType" :value="type" v-if="type.listed">{{type.nombre}}</option>
							</select>
						</div>

						<div class="col-md-1" v-if="new_bet.cantidad == 1	">
							<label>Cantidad</label>
							<input type="number" v-model="quantity" class="form-control">
						</div>

						<div class="col-md-1">
							<label>Probabilidad</label>
							<input type="number" v-model="probability" @keydown.enter="addBetType()" class="form-control">
						</div>

						<div class="col-md-1">
							<button type="button" @click="addBetType()" class="btn-add" :disabled="new_team.length < 2"><i class="fa fa-plus" aria-hidden="true"></i></button>
						</div>

					</div>
<hr>
					<table class="table table-responsive panel-game" v-if="probs.length > 0">
						<tr>
							<th width="20%">Tipo de apuesta</th>
							<th width="50%">Equipo</th>
							<th width="10%">Cantidad</th>
							<th width="10%">Probabilidad</th>
							<th width="10%">Acciones</th>
						</tr>
						<tr v-for="(prob, index) in probs">
							<td>{{prob.tipo_probabilidad.nombre}}</td>
							<td>{{probDescription(index)}}</td>
							<td><input class="form-control input-number"  type="number" v-if="prob.tipo_probabilidad.cantidad == 1" v-model="prob.cantidad"></td>
							<td><input class="form-control input-number" type="number" v-model="prob.probabilidad"></td>
							<td>
								<button class="btn btn-xs btn-danger" @click="deleteProb(prob.tipo_probabilidad.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
							</td>
						</tr>
					</table>


	            </slot>
	          </div>

	          <div class="modal-footer">
	            <slot name="footer">
					<button type="button" class="btn btn-default" @click="$emit('close')">Cerrar</button>
					<button type="button" class="btn btn-primary" @click="store()" :disabled="!isReady">Guardar</button>
	            </slot>
	          </div>
	        </div>
	      </div>
	    </div>
	  </transition>
	</div>
</template>

<script>
	export default{
		props: ['creating', 'game'],

		data(){
			return {
				date: '',
				new_category:'',
				new_subcategory:'',
				new_status:'',
				new_team: [],
				new_bet: '',
				probs:[],
				categories: [],
				subcategories: [],
				probsType:[],
				teams:[],
				probability:'',
				quantity:'',
				teamButton: false,
				config: {enableTime: true},
			};
		},

		mounted(){
			this.getCategory();
			this.new_status = '0';
			if (!this.creating){
				this.getGame();
			}

		},

		watch:{
		    new_category: function (val){
		      if (val != '') {
		      	this.getSubcategory();
		      	this.getProbsType();
		      }

		    },

		    new_subcategory: function (val){
		      if (val != '') {
		      	this.getTeams();
		      	console.log(val);
		      	if (val == 187 || val == 190) {
		      		this.new_bet = this.probsType[0];
		      		this.probability = 30;
		      	}
		      }

		    },
		},

		computed:{
			isReady(){
				for (var i = 0; i < this.probs.length; i++) {
					if (this.probs[i].probabilidad == '') {
						return false;
					}
				}
				return this.probs.length > 0 && this.date != '';
			}
		},

		methods:{
			reset(){
				location.reload();
			},

			store(){
				if (this.creating) {
					axios.post('/admin/game',{
						categoria: this.new_category,
						subcategoria: this.new_subcategory,
						fecha_cierre: this.date,
						compuesta: 0,
						status: this.new_status,
						visible: 1,
						probs: this.probs
					})
					.then((response)=>{
						alert(response.data.message);
						this.$parent.showModal = false;
						this.reset();
					})
					.catch((error)=>{
						alert(error)
					});
				}
				else{
					axios.put('/admin/game/' + this.game,{
						categoria: this.new_category,
						subcategoria: this.new_subcategory,
						fecha_cierre: this.date,
						compuesta: 0,
						status: this.new_status,
						visible: 1,
						probs: this.probs
					})
					.then((response)=>{
						alert(response.data.message);
						this.$parent.showModal = false;
						this.reset();
					})
					.catch((error)=>{
						alert(error)
					});
				}
			},

			getGame(){
				var self = this;
				axios.get('/admin/game/' + this.game)
					.then((response)=>{
						var data = response.data;
						//console.log(data);
						self.date = data.fecha_cierre;
						self.new_category = data.categoria;
						self.new_subcategory = data.subcategoria;
						self.new_status = data.status;

						for (var i = 0; i < data.teams.length; i++) {
							data.teams[i]['value'] = data.teams[i].id;
							data.teams[i]['label'] = data.teams[i].nombre;
							self.new_team.push(data.teams[i]);
						}

						self.probs = data.probs

					})
					.catch((error)=>{
						alert(error);
					})
			},

			getProbsType(){
				var self = this;
				this.probsType = [];
				axios.get('/admin/categoryTypeBet/' + this.new_category)
					.then((response)=>{
						for (var i = 0; i < response.data.length; i++) {
							self.probsType.push({
								cantidad: response.data[i].cantidad,
								exotica: response.data[i].exotica,
								id: response.data[i].id,
								max_apuesta: response.data[i].max_apuesta,
								nombre: response.data[i].nombre,
								pk: response.data[i].pk,
								probabilidades: response.data[i].probabilidades,
								listed: true,
							});
						}

						for (var j = 0; j < self.probs.length; j++) {

							var type = self.probs[j].tipo_probabilidad;
							var current_prob = self.getProbType(type);
							if (type == current_prob.id){
								current_prob.listed = false
							}
							self.probs[j].tipo_probabilidad = current_prob;

							var team = self.probs[j].equipo;
							var current_team = self.getNewTeam(team);
							//console.log(current_team);
							self.probs[j].equipo = current_team;
						}
					})
					.catch((error)=>{
						alert(error);
					});
			},

			getCategory(){
				var self = this
				axios.get('/menu')
					.then((response)=>{
						self.categories = response.data;
					})
			},

			getSubcategory(){
				var self = this
				this.subcategories = [];
				axios.get('/admin/submenubymenu?menu=' + this.new_category)
					.then((response)=>{
						self.subcategories = response.data;
					})
			},

			getTeams(){
				var self = this;
				this.teams = [];
				axios.get('/admin/team?subcategory=' + this.new_subcategory)
					.then((response)=>{
						//self.teams = response.data;
						for (var i = 0; i < response.data.length; i++) {
							self.teams.push({
								label: response.data[i].nombre,
								value: response.data[i].id,
								abbr: response.data[i].abbr,
								id: response.data[i].id,
								id_menu: response.data[i].id_menu,
								id_submenu: response.data[i].id_submenu,
								nombre: response.data[i].nombre,
								orden: response.data[i].orden,
								listed: true,
							});
						}
						if (self.new_category == 12) {
		      				self.addAllTeams();
		      			}

					})
					.catch((error)=>{
						alert(error);
					});
			},

			getProbType(id){
				for (var i = 0; i < this.probsType.length; i++) {
					if(this.probsType[i].id == id){
						return this.probsType[i];
					}
				}
			},

			getTeam(id){
				for (var i = 0; i < this.teams.length; i++) {
					if(this.teams[i].id == id){
						return this.teams[i];
					}
				}
			},

			getNewTeam(id){
				for (var i = 0; i < this.new_team.length; i++) {
					if(this.new_team[i].id == id){
						return this.new_team[i];
					}
				}
			},

			addTeam(){
				if(this.teamButton){
					this.new_team.push(this.new_team);
					this.getTeam(this.new_team.id).listed = false;
				}
			},

			addAllTeams(){
					for (var i = 0; i < this.teams.length; i++) {
						this.teams[i].listed = true;
					}

					this.new_team = this.teams;
			},

			addBetType(){
				for (var i = 0; i < this.new_team.length; i++) {
					this.probs.push({
						tipo_probabilidad: this.new_bet,
						equipo: this.new_team[i],
						orden: i+1,
						cantidad: this.quantity,
						probabilidad: this.probability,
						activa: 1,
						acierto: 0,
					});
					if (this.new_bet.probabilidades == 1) {
						break;
					}
				}
				this.getProbType(this.new_bet.id).listed = false;
				this.quantity = '';
				this.probability = '';
				this.teamButton = true;
				//this.new_bet = 
			},

			deleteProb(type){
				var remove = [];
				for (var i = 0; i < this.probs.length; i++) {
					if(this.probs[i].tipo_probabilidad.id == type){
						remove.push(i)
					}
				}

				for (var i = remove.length - 1; i >= 0; i--) {
					this.probs.splice(remove[i], 1);
				}
			},

			probDescription(index){
				//console.log(index);

				switch(this.probs[index].tipo_probabilidad.id) {
				    case 1:
				    case 3 :
				    case 7 :
				    case 8 :
				    case 11 :
				    case 12 :
				    case 15 :
				    case 16:
				    case 19:
				        return this.probs[index].equipo.nombre;
				        break;
				    case 4:
				    case 10:
				    case 13:
				    case 17:
				    case 18:
				         return this.probs[index].orden == 1 ? '+' : '-';
				        break;
				    case 9:
				        return this.probs[index].orden == 1 ? 'Si' : 'No';
				        break;
				    default:
				       return ''
				}
			},
		}
	}
</script>

<style>
.input-number{
	    height: 12px !important;
}
.btn-add {
    margin-top: 24px;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 70%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-body {
	height: 300px;
}

.modal-header h5 {
  margin-top: 0;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


</style>
