<script src="assets/js/bets.js"></script>

    <div class="accordion span12" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle bets-title" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    BEISBOL
                </a>
            </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                          MLB
                        </button>
                        <div class="collapse" id="collapseExample1">
                          <div class="well col-md-11">
                            <div class="panel panel-warning">
                              <div class="panel-heading">
                                <h3 class="panel-title">04:05 PM</h3>
                              </div>
                              <div class="panel-body panel-game">
                                <ul class="list-group">
                                  <li class="list-group-item disabled">
                                      <table width="100%">
                                        <tr>
                                            <th width="55%"><div class="hidden-phone">EQUIPO</div></th>
                                            <th width="15%"><div class="hidden-phone">GANADOR</div><div class="visible-phone">G</div></th>
                                            <th width="15%"><div class="hidden-phone">RUNLINE</div><div class="visible-phone">RL</div></th>
                                            <th width="15%"><div class="hidden-phone">TOTALES</div><div class="visible-phone">T</div></th>
                                        </tr>
                                        </table>
                                    </li>
                                  <li class="list-group-item">
                                      <table width="100%">
                                        <tr>
                                            <td width="55%"><strong>TORONTO BLUE JAYS</strong></td>
                                            <td width="15%"><i class="fa fa-toggle-off btn-bet" aria-hidden="true" data-id="1"></i>  1.79</td>
                                            <td width="15%"><i class="fa fa-toggle-off btn-bet" aria-hidden="true" href="#" data-id="2"></i> +1.5 2.30</td>
                                            <td width="15%"><i class="fa fa-toggle-off btn-bet" aria-hidden="true" data-id="3"></i> +8.5 2.00</td>
                                        </tr>
                                        </table>
                                  </li>
                                  <li class="list-group-item">
                                      <table width="100%">
                                        <tr>
                                            <td width="55%"><strong>CLEVELAND INDIANS</strong></td>
                                            <td width="15%"><i class="fa fa-toggle-off btn-bet" aria-hidden="true"data-id="4"></i>1.79</td>
                                            <td width="15%"><i class="fa fa-toggle-off btn-bet" aria-hidden="true"data-id="5"></i>+1.5 2.30</td>
                                            <td width="15%"><i class="fa fa-toggle-off btn-bet" aria-hidden="true"data-id="6"></i>+8.5 2.00</td>
                                        </tr>
                                        </table>
                                  </li>
                                    <button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                      Exóticas <span class="badge">+10</span>
                                    </button>
                                    <div class="collapse" id="collapseExample">
                                      <div class="well col-md-11 col-xs-11">
                                      <!-- Inicio Apuesta exotica -->
                                        <ul class="list-group list-exoticas col-md-3 col-xs-11">
                                          <li class="list-group-item disabled">Super Runline</li>
                                          <li class="list-group-item"><i class="fa fa-toggle-off btn-bet" aria-hidden="true"data-id="7"></i> TORONTO BLUE JAYS <strong>-2.5</strong> 3.00</li>
                                          <li class="list-group-item"><i class="fa fa-toggle-off btn-bet" aria-hidden="true"data-id="8"></i> CLEVELAND INDIANS <strong>+2.5</strong> 1.41</li>
                                        </ul>
                                        <!-- Fin Apuesta exotica -->
                                      <!-- Inicio Apuesta exotica -->
                                        <ul class="list-group list-exoticas col-md-3 col-xs-11">
                                          <li class="list-group-item disabled">Anota Primero</li>
                                          <li class="list-group-item"><i class="fa fa-toggle-off btn-bet" aria-hidden="true"data-id="9"></i> TORONTO BLUE JAYS <strong>-2.5</strong> 1.58</li>
                                          <li class="list-group-item"><i class="fa fa-toggle-off btn-bet" aria-hidden="true"data-id="10"></i> CLEVELAND INDIANS <strong>+2.5</strong> 2.40</li>
                                        </ul>
                                        <!-- Fin Apuesta exotica -->
                                        <!-- Inicio Apuesta exotica -->
                                        <ul class="list-group list-exoticas col-md-3 col-xs-11">
                                          <li class="list-group-item disabled">Anotan en el 1er Inning</li>
                                          <li class="list-group-item"><i class="fa fa-toggle-off btn-bet" aria-hidden="true"data-id="11"></i> SI 1.86</li>
                                          <li class="list-group-item"><i class="fa fa-toggle-off btn-bet" aria-hidden="true"data-id="12"></i> NO 1.86</li>
                                        </ul>
                                        <!-- Fin Apuesta exotica -->
                                      <!-- Inicio Apuesta exotica -->
                                        <ul class="list-group list-exoticas col-md-3 col-xs-11">
                                          <li class="list-group-item disabled">Hits Carreras y Errores (HRE)</li>
                                          <li class="list-group-item"><i class="fa fa-toggle-off btn-bet" aria-hidden="true"data-id="9"></i> TORONTO BLUE JAYS <strong>-27.5</strong> 1.90</li>
                                          <li class="list-group-item"><i class="fa fa-toggle-off btn-bet" aria-hidden="true"data-id="10"></i> CLEVELAND INDIANS <strong>+27.5</strong> 1.83</li>
                                        </ul>
                                        <!-- Fin Apuesta exotica -->
                                      </div>
                                    </div>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                          LIGA VENEZOLANA LVBP
                        </button>
                        <div class="collapse" id="collapseExample2">
                          <div class="well">
                            ...
                          </div>
                        </div>
                    </div>
                </div>
        </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                <a class="accordion-toggle bets-title" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    FUTBOL
                </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                <a class="accordion-toggle bets-title" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                    BALONCESTO
                </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>
                </div>
            </div>
        </div>