// sass-lint:disable no-vendor-prefixes
// ==============================================
// ANIMATIONS
// ==============================================

@mixin effect($object, $time, $effect) {
	@if $effect == '' {
		$effect: linear;
	}

	transition: $object $time $effect;
}

.custom-duration {
	animation-duration: 1.3s
}

.duration-dot5 {
	animation-duration: 5s
}