// ==============================================
// COLORS
// ==============================================

// FIRST WE DEFINE DESCRIPTIVE COLORS
// Color names provided by http://chir.ag/projects/name-that-color/
// The method to create the name is: "Closest standard color" name + "Name that color" name (brown + dark ebony)

// Example colors
$greySilver: #ccc;
$greyMap: #c9c9c9;
$blackTundora: #444;
$creamFoam: #eaf7fd;
$creamSatinLinen: #e1dece;
$tulipTree: #eabd2d;
$redDamask: #ea7c0f;
$flamingo: #ef542b;
$mineShaft: #3b3b3b;
$mercury: #e5e5e5;
$alto: #d2d2d2;
$flushOrange: #ff7f00;
$iron: #cfd0d2;
$regentGray: #87919e;

// Basic colors
$white: #fff;
$black: #000;
$black2: #101010;
$black3: #1d1d1d;
$gray: $mercury;
$darkGray: $mineShaft;
$darkGray2: $regentGray;
$gray2: $alto;
$gray3: $iron;

$yellowLight: #ffc550;
$yellow2Light: #fef6df;
$red: #f00;
$orange: $flushOrange;
$orangeTheme: $redDamask;
$orangeTheme2: $flamingo;
$orange: #e1dece;

$pageTransitionLayer: rgba(0, 0, 0, 0.1);

$whiteTransparent: rgba(255, 255, 255, .5);

$grayDot3: rgba(0, 0, 0, 0.3);
$grayDot4: rgba(0, 0, 0, 0.4);
$grayDot41: rgba(112, 112, 112, 0.41);
$grayDot51: rgba(112, 112, 112, 0.51);

$blackTransparent15: rgba(0, 0, 0, 0.15);
$blackTransparent27: rgba(0, 0, 0, 0.27);
$blackTransparent65: rgba(0, 0, 0, 0.65);
$blackTransparent81: rgba(0, 0, 0, 0.81);

// NOW WE DEFINE FUNCTIONS

// General functions
$mainColor: $black;
$blackLight: $blackTundora;
$underlineColor: $greySilver;
$greySeparator: $greySilver;

// Gradients
%example-cream-gradient {
    @include bbg(top, bottom, $creamFoam, $creamSatinLinen);
}

// Note: custom function colors are included in their belonging files
