// sass-lint:disable no-duplicate-properties
// ==============================================
// FONTS
// ==============================================

// Mixin for fonts
@mixin typo($t, $name) {
    @font-face {
        font-family: $name;
        src: url('/fonts/#{$t}.woff?1') format('woff'),
            url('/fonts/#{$t}.woff2?1') format('woff2');
        font-weight: normal;
        font-style: normal;
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important; // sass-lint:disable-line no-vendor-prefixes
    }
}

@include typo('Century-Gothic', 'Century-Gothic');
@include typo('Montserrat-Italic', 'Montserrat-Italic');
@include typo('Montserrat-BoldItalic', 'Montserrat-BoldItalic');
@include typo('Montserrat-BlackItalic', 'Montserrat-BlackItalic');
@include typo('Montserrat-MediumItalic', 'Montserrat-MediumItalic');



%regular {
    font-family: 'Century-Gothic', Arial;
}

%italic {
    font-family: 'Montserrat-Italic', sans-serif;
}

%bold {
    font-family: 'Montserrat-BoldItalic', sans-serif;
}

%medium {
    font-family: 'Montserrat-MediumItalic', sans-serif;
}

%black {
    font-family: 'Montserrat-BlackItalic', sans-serif;
}
