// ==============================================
// MEDIA QUERY DECLARATIONS
// ==============================================

$iphone-height: 600px;
$tablet-width: 980px;
$desktop-aaa-width: 1240px;
$desktop-big-width: 1460px;


$mobile-min-width: 420px;
$mobile-tiny-min-width: 320px;
$mobile-width: 768px;
$tablet-portrait-width: 980px;
$tablet-landscape-width: 1024px;
$collapsed-menu: 1140px;
$desktop-width: 1300px; //1280 + 20
$desktop-max-width: 1900px; //1920 - 20

@mixin sizeContainerWithNav {
	@media (max-width: #{$containerMaxWidth + 90px}) {
		@content;
	}
}

@mixin sizeContainer {
	@media (max-width: #{$containerMaxWidth}) {
		@content;
	}
}


@mixin desktopMax {
	@media (max-width: #{$desktop-max-width}) {
		@content;
	}
}

@mixin desktop {
	@media (max-width: #{$desktop-width}) {
		@content;
	}
}

@mixin tabletLandscape {
	@media (max-width: #{$tablet-landscape-width}) {
		@content;
	}
}

@mixin justTabletPortrait {
	@media (min-width: #{$mobile-width}) and (max-width: #{$tablet-portrait-width}) {
		@content;
	}
}

@mixin tabletPortrait {
	@media (max-width: #{$tablet-portrait-width}) {
		@content;
	}
}

// MOBILE
@mixin mobile {
	@media (max-width: #{$mobile-width - 1px}) {
		@content;
	}
}

// NO MOBILE
@mixin nomobile {
	@media (min-width: $mobile-width) {
		@content;
	}
}

// TINY MOBILE
@mixin mobileMin {
	@media (max-width: #{$mobile-min-width}) {
		@content;
	}
}
// TINY MOBILE
@mixin mobileTiny {
	@media (max-width: #{$mobile-tiny-min-width}) {
		@content;
	}
}

// COLLAPSED
@mixin collapsed {
	@media (max-width: #{$collapsed-menu - 1px}) {
		@content;
	}
}


// UNCOLLAPSED
@mixin uncollapsed {
	@media (min-width: #{$collapsed-menu}) {
		@content;
	}
}

// DESKTOP LANDSCAPE Max
@mixin BigDesktop {
	@media (max-width: #{$desktop-big-width - 1px}) {
		@content;
	}
}

// DESKTOP LANDSCAPE Max
@mixin littleMaxDesktop {
	@media (max-width: #{$desktop-aaa-width}) {
		@content;
	}
}

// TABLET LANDSCAPE
@mixin littleDesktop {
	@media (max-width: #{$desktop-width}) {
		@content;
	}
}

// TABLET LANDSCAPE
@mixin ipadLandscape {
	@media (min-width: #{$tablet-width + 1px}) and (max-width: #{$desktop-width}) {
		@content;
	}
}

// TABLET PORTRAIT
@mixin ipadPortrait {
	@media (max-width: #{$tablet-width}) {
		@content;
	}
}


// Iphone Mini height
@mixin iphoneMini {
	@media (max-height: #{$iphone-height}) {
		@content;
	}
}
