// sass-lint:disable no-vendor-prefixes,no-duplicate-properties,no-misspelled-properties
// ==============================================
// MIXINS
// ==============================================

// NO APPEARANCE
@mixin noAppearance {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

// BACKFACE
@mixin backface {
	-webkit-backface-visibility: visible !important;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: visible !important;
}

// BACKFACE
@mixin backface-visibility($val) {
	-webkit-backface-visibility: $val;
	-moz-backface-visibility: $val;
	-ms-backface-visibility: $val;
	backface-visibility: $val;
}

// PERSPECTIVE
@mixin perspective($val) {
	-webkit-perspective: $val;
	-moz-perspective: $val;
	-ms-perspective: $val;
	perspective: $val;
}

// USER SELECT
@mixin userSelect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// HARDWARE ACCELERATE
@mixin hardware-accelerate {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

// OPACITY
@mixin opacity($opacity) {
	$ie: ($opacity * 100);
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$ie})';
	filter: alpha(opacity=#{$ie});
	-moz-opacity: $opacity;
	-khtml-opacity: $opacity;
	opacity: $opacity;
}

// BORDER RADIUS
@mixin border-radius($val) {
	-webkit-border-radius: $val;
	-moz-border-radius: $val;
	border-radius: $val;
}

// BOX SHADOW
@mixin box-shadow($val) {
	-webkit-box-shadow: $val;
	-moz-box-shadow: $val;
	box-shadow: $val;
}

// TEXT SHADOW
@mixin text-shadow($val) {
	-webkit-text-shadow: $val;
	-moz-text-shadow: $val;
	text-shadow: $val;
}

// BOX SIZING
@mixin box-sizing($boxSizing) {
	-webkit-box-sizing: $boxSizing;
	-moz-box-sizing: $boxSizing;
	box-sizing: $boxSizing;
}

// TRANSITION
@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	transition: $transition;
}

// BACKGROUND GRADIENT COLOR
@mixin bbg($d1, $d2, $color1, $color2) {
	background-image: -moz-linear-gradient($d1, $color1 0, $color2 100%);
	background-image: -webkit-gradient(linear, $d1 $d1, $d1 $d2, color-stop(0, $color1), color-stop(100%, $color2));
	background-image: -webkit-linear-gradient($d1, $color1 0, $color2 100%);
	background-image: -o-linear-gradient($d1, $color1 0, $color2 100%);
	background-image: -ms-linear-gradient($d1, $color1 0, $color2 100%);
	background-image: linear-gradient(to $d2, $color1 0, $color2 100%);
}

// BOX SHADOW
@mixin box-shadow($val) {
	-webkit-box-shadow: $val;
	box-shadow: $val;
}

// PLACEHOLDER
@mixin placeholder($color) {

	::-webkit-input-placeholder {
		color: $color;
	}

	:-moz-placeholder {
		color: $color;
	}

	::-moz-placeholder {
		color: $color;
	}

	:-ms-input-placeholder {
		color: $color;
	}

}

// ARROW
@mixin arrow($direction, $size, $color) {
	width: 0;
	height: 0;
	@if $direction == 'left' {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-right: $size solid $color;
	} @else if $direction == 'right' {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $color;
	} @else if $direction == 'top' {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid $color;
	} @else if $direction == 'bottom' {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-top: $size solid $color;
	}
}

// TRANSLATES
@mixin translate($x, $y) {
	@include transform(translate($x, $y));
}

@mixin translateX($x) {
	@include transform(translate3d($x, 0, 0));
}

@mixin translateY($y) {
	@include transform(translate3d(0, $y, 0));
}

@mixin translateZ($z) {
	@include transform(translate3d(0, 0, $z));
}

@mixin translate3d($x, $y, $z) {
	@include transform(translate3d($x, $y, $z));
}

// Common center positioning translates
@mixin Y-50 {
	@include translateY(-50%);
}

@mixin X-50 {
	@include translateX(-50%);
}

@mixin X-Y-50 {
	@include translate(-50%, -50%);
}

// TRANSFORMS
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

// TRANSFORM STYLE
@mixin transform-style($val) {
	-webkit-transform-style: $val;
	-moz-transform-style: $val;
	-ms-transform-style: $val;
	transform-style: $val;
}

// TRANSFORM ORIGIN
@mixin transform-origin($val) {
	-webkit-transform-origin: $val;
	-moz-transform-origin: $val;
	-ms-transform-origin: $val;
	transform-origin: $val;
}

// ROTATE
@mixin rotate($deg) {
	@include transform(rotate(#{$deg}deg));
}

// SCALE
@mixin scale($scale) {
	@include transform(scale($scale));
}

@mixin scale2d($scalex, $scaley) {
	@include transform(scale($scalex, $scaley));
}

@mixin scaleX($scalex) {
	@include transform(scaleX($scalex));
}

// FLEX
@mixin flex-container($justify-content: flex-start, $align-items: flex-start, $align-content: flex-start, $flex-wrap: wrap, $flex-direction: row) {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-justify-content: $justify-content;
	-ms-justify-content: $justify-content;
	justify-content: $justify-content;
	-webkit-align-items: $align-items;
	-ms-align-items: $align-items;
	align-items: $align-items;
	-webkit-align-content: $align-content;
	-ms-align-content: $align-content;
	align-content: $align-content;
	-webkit-flex-wrap: $flex-wrap;
	-ms-flex-wrap: $flex-wrap;
	flex-wrap: $flex-wrap;
	-webkit-flex-direction: $flex-direction;
	-ms-flex-direction: $flex-direction;
	flex-direction: $flex-direction;
}

@mixin flex-direction($flex-direction: row) {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-flex-direction: $flex-direction;
	-ms-flex-direction: $flex-direction;
	flex-direction: $flex-direction;
}

@mixin flex-wrap($flex-wrap: wrap) {
	-webkit-flex-wrap: $flex-wrap;
	-ms-flex-wrap: $flex-wrap;
	flex-wrap: $flex-wrap;
}

@mixin flex-item($flex: 1) {
	-webkit-flex: $flex;
	-ms-flex: $flex;
	flex: $flex;
}

// BLUR
@mixin blur($val) {
	-webkit-filter: blur(#{$val}px);
	filter: blur(#{$val}px);
	-ms-filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='#{$val}');
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='#{$val}');
}

@mixin safari-only {

	:not(:root:root) {
		@content;
	}
}

@mixin drop-shadow($color) {
	-webkit-filter: drop-shadow(0 0 10px $color);
	filter: drop-shadow(0 0 10px $color);
	-ms-filter: 'progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color="$color")';
	filter: 'progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color="$color")';
}

@mixin clip-path($shape) {
	-webkit-clip-path: $shape;
	clip-path: $shape;
}
