// ==============================================
// GLOBAL VARIABLES
// ==============================================

$pathToTheme: '/sites/fritolayemployment.com/themes/fritolay';

$containerMaxWidth: 1920px;
$containerMaxWidth2: 1920px;
$containerGutter: 25px;
$containerGutterMin: 10px;

$maxWidth: 1920px;
$containerMaxWidthResponsive: 80vw;
$paddingHalf: 10px;
$paddingPlusHalf: 15px;
$padding: 20px;
$paddingPlus: 30px;
$paddingDouble: 40px;
$paddingDoublePlus: 50px;
$paddingPlusDouble: 60px;
$paddingDoubleDouble: 80px;

$heightMenu: 138px;
$heightSubMenu: 78px;
$heightLogo: 78px;
$marginLogo: 11px;

$heightMenuCollapsed: 70px;
$heightMenuMobile: 70px;
