<template> 
  <div class="form-group">
    <label class="control-label" for="fecha_hora">Fecha</label>
    <div class='input-group date input-pago'>
      <input type='text' class="form-control" id="date" ref="date"/>
      <span class="input-group-addon">
        <span class="fa fa-calendar">
        </span>
      </span>
    </div>
  </div>
</template> 

<script>
$(function() {
      $('#date').datetimepicker({
         locale: 'es',
        format: 'YYYY-MM-DD LT',
        ignoreReadonly: true,       
    });    
  })  
</script>