<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ $title }}</title>

	<link rel="apple-touch-icon" sizes="57x57" href="/assets/app/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/app/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/app/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/app/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/app/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/app/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/app/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/app/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/app/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/assets/app/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/app/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/app/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/app/favicon/favicon-16x16.png">
	<link rel="manifest" href="/assets/app/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">

	<meta name="theme-color" content="#ffffff">	
    <meta name="description" content="{{ $description }}">
    <meta name="keywords" content="{{ $keywords }}"> 
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url('/') }}">
    <meta property="og:image" content="{{ $image }}">
    <meta property="og:description" content="{{ $description }}">
    <meta itemprop="name" content="Inicio | Miapuestaweb">
    <meta itemprop="description" content="{{ $description }}">
    <meta itemprop="image" content="{{$image}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ $rrss }}">
    <meta name="twitter:title" content="Inicio | Miapuestaweb">
    <meta name="twitter:description" content="{{ $description }}">
    <meta name="twitter:image" content="{{$image}}">
    <meta name="twitter:creator" content="{{ $rrss }}">
</head>
<body>
    <div id="app">
    </div>    
</body>
</html>
