// sass-lint:disable no-vendor-prefixes
// ==============================================
// HELPERS
// ==============================================
// General classes used along the whole site + other specific helper classes

// Hiding elements
.hidden {
    display: none !important;
}

.no-overflow {
    overflow: hidden;
}

// Form styling
input {
    -webkit-appearance: none;
    border-radius: 0;

    &[type='checkbox'] {
        -webkit-appearance: checkbox;
    }
}

.prevent-overflow {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.expandible {
    display: none;

    &.expanded {
        display: block;
    }
}

hr {
    &.big {
        width: 100%;
        height: 30px;
        background-color: $grayDot3;
        margin: $paddingPlusDouble 0 0;
    }
}

@include mobile {
    hr {
        &.big {
            margin: $paddingPlus 0 0;
        }
    }
}
