// ==============================================
// PRINT
// ==============================================

.just-print {
	display: none !important;
}


@media print {
	@page {
		size: 80mm 150mm;
		margin: 0;	
	}

	body {
		margin: 0 20px;
	}

	.just-print {
		display: block !important;
	}

	#nav,
	.carousel-content,
	.playground,
	.desktop-bars,
	.mobile-bars,
	.footer {
		display: none !important
	}
}
