// ==============================================
// BASE STYLES
// ==============================================

// ==============================================
// BASE STYLES
// ==============================================

body {
    @extend %regular;
    @include flex-direction(column);
    font-size: 100%;
    line-height: 1;
    color: $black;
    min-height: 100vh;
	overflow-x: hidden;
	background-color: $black;
}

input {
    @include noAppearance;
    @include border-radius(0);
}

select {
    @include noAppearance;
    background-position: right center;
    background-repeat: no-repeat;

    &::-ms-expand {
        // sass-lint:disable-line no-vendor-prefixes
        display: none;
    }
}

a,
span {
    color: inherit;
    text-decoration: none;
}

sub,
sup {
    font-size: 60%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img,
iframe,
video {
    vertical-align: top;
    max-width: 100%;
}

svg {
    width: 100%;
    height: auto;
    vertical-align: top;
}

ul {
    list-style: none;
}

.prevent-overflow {
    width: 100%;
    overflow: hidden;
}

.no-wrap {
    white-space: nowrap;
}

.visibility-hidden {
    visibility: hidden;
}

noscript + img {
    display: none;
}
