// ==============================================
// COMPONENT MIXINS (CUSTOM WEBCOMPONENTS)
// ==============================================

// CLEAR FIX (Fix height after floats)
%clearfix {
    &::after {
        content: ' ';
        display: table;
        clear: both;
    }
}

// UNDERLINES
%underlines {
    display: inline-block;

    &::after {
        @include effect(width, 0.5s, ease);
        content: ' ';
        display: block;
        position: relative;
        width: 0;
        background: $black;
        margin: 2px auto -2px;
        height: 2px;
    }

    &:hover,
    &:focus {
        &::after {
            @include effect(width, 0.5s, ease);
            width: 100%;
        }
    }
}

// ==============================================
// MOBILE
// ==============================================
@include mobile {
    // Clear fix extendable from mobile media queries
    %clearfixmobile {
        &::after {
            content: ' ';
            display: table;
            clear: both;
        }
    }
}
