// ==============================================
// RESET
// ==============================================

* {
	@include box-sizing(border-box);
	position: relative;
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	-webkit-text-size-adjust: 100%; // sass-lint:disable-line no-vendor-prefixes

	&::after, &::before {
		@include box-sizing(border-box);
	}
}

h1, h2, h3, h4, h5, h6, label {
	font-weight: normal;
	font-style: normal;
}

input, textarea, select {
	overflow: auto;

	&:-webkit-autofill { // sass-lint:disable-line no-vendor-prefixes
		@include box-shadow(0 0 0 1000px #fff inset);

		&:hover, &:focus {
			@include box-shadow(0 0 0 1000px #fff inset);
		}
	}
}
